<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="shortcut icon" href="https://img.icons8.com/doodle/48/null/filled-topic.png" type="image/x-icon">
    <title>Sala de chat</title>
</head>

<body>
    <%- include("./partials/navBar") %> 

    <main>
        <div>
            <p id="noTerminado">Comentario para los desarrolladores curiosos: Para que este chat funcione no deben usar nodemon</p>
            <h1>Sala de chat</h1>
            
            <% if (usuario.name) { %>
                <h2>Bienvenido <%= usuario.name %></h2>
            <% } else {%>
                <h2>Bienvenido <%= usuario.first_name %> <%= usuario.last_name %></h2> 
            <% } %> 
            <%- include("./partials/buttonLogout") %>
            <div class="contenedor-chat">
                <input id="chatBox" type="text" placeholder="Escribe tu mensaje...">
                <textarea id="logsPanel" placeholder="Chat en mantenimiento, no se verán tus mensajes :(" readonly></textarea>
            </div>

        </div>
    </main>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Intento fallido de importar normalizr -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.min.js"></script> -->
    <script src="./js/chat.js"></script>
</body>
</html>
