<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/null/backend-development--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <title>Perfil</title>
</head>
<body>
    <%- include("./partials/navBar") %> 
    <h1>Perfil</h1>
    <p>Nombre: <%= usuario.fullname %>
    <p>Email: <%= usuario.email %></p>
    <p>Edad: <%= usuario.age %> </p>
    <p>Teléfono <%= usuario.phone %> </p>
    <div>
        <p>Foto o avatar:</p>
        <img src=<%= usuario.image %>  alt="avatarIcon">
    </div>
    <p>Tienes permisos de: <%= usuario.role %> </p>
</body>
</html>
