<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css"> <!-- Los estilos están en public/css/style.css -->
    <title>Testeo de productos</title>
</head>
<body>
    <div>
        <% if (products.length > 0) { %>
            <ul class="card-product">
                <% products.forEach(producto => { %>
                    <div>
                        <li> Título: <%= producto.title %>  </li>
                        <li> Precio: $<%= producto.price %>  </li>         
                        <li> Imagen: <img src=<%= producto.image %>> </li>
                        <li> Descripción: <%= producto.description %> </li>
                        <li> Stock: <%= producto.stock %> </li>
                    </div>
                <% }) %>
            </ul>
        <% } else {%>
            <p>No hay productos por mostrar</p>
        <% } %> 
    </div>
</body>
</html>